<app-header [back]="true" headerText="Quiz"></app-header>
<ion-content [fullscreen]="true">
  <div style="padding-left: 5%; padding-right: 5%; padding-top: 1%">
    <ion-row>
      <h6 style="margin-bottom: 0">
        4. En relación a la fuerza eléctrica es incorrecto a firmar que:
      </h6>
    </ion-row>
    <ion-list style="padding-top: 0">
      <ion-radio-group [(ngModel)]="this.question5">
        <ion-item>
          <ion-label style="white-space: normal"
            >La fuerza eléctrica aumenta mientas mayor sea la cantidad de cargas
            interactuantes.</ion-label
          >

          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label style="white-space: normal"
            >La fuerza eléctrica disminuye a medida que disminuye la distancia
            de separación.</ion-label
          >
          <ion-radio slot="start" value="2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label style="white-space: normal"
            >La fuerza eléctrica puede ser atractiva o repulsiva dependiendo de
            las cargas que interactúan.</ion-label
          >
          <ion-radio slot="start" value="3"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label style="white-space: normal"
            >La fuerza eléctrica actúa en la misma línea que contiene las cargas
            eléctricas.</ion-label
          >
          <ion-radio slot="start" value="4"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label style="white-space: normal"
            >La fuerza eléctrica entre dos cargas es de tipo
            acción-reacción.</ion-label
          >
          <ion-radio slot="start" value="5"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>

  <div style="padding-left: 5%; padding-right: 5%; padding-top: 3%">
    <ion-row>
      <h6 style="margin: 0">5. Campo eléctrico es toda región donde:</h6>
    </ion-row>
    <ion-list style="padding-top: 0">
      <ion-radio-group [(ngModel)]="this.question6">
        <ion-item>
          <ion-label style="white-space: normal">hay vacío.</ion-label>

          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label style="white-space: normal">no hay vacío.</ion-label>
          <ion-radio slot="start" value="2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label style="white-space: normal"
            >se producen fenómenos eléctricos.</ion-label
          >
          <ion-radio slot="start" value="3"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label style="white-space: normal"
            >hay circuitos eléctricos.</ion-label
          >
          <ion-radio slot="start" value="4"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label style="white-space: normal"
            >existen cargas eléctricas.</ion-label
          >
          <ion-radio slot="start" value="5"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      (click)="nextPage()"
      color="light"
      style="margin-bottom: 20%; margin-right: 20px"
    >
      <img class="heaven" src="/assets/icon/right-arrow_1.png" />
    </ion-fab-button>
  </ion-fab>
</ion-content>
