<app-header [back]="true" headerText="Quiz"></app-header>
<ion-content [fullscreen]="true">
  <div style="padding: 5%">
    <ion-row>
      <h6>
        1. En el siguiente diagrama se tienen tres cargas de 1 nC dispuestas
        como tres vértices de un cuadrado de un metro de lado. Seleccione que
        disposición de cargas negativas y positivas corresponde para obtener el
        campo eléctrico con la consiguiente magnitud y dirección en la posición
        del cuarto vértice
      </h6>
    </ion-row>
    <ion-row>
      <img class="quiz-img" src="assets/images/quiz-elect1.png" />
    </ion-row>
    <ion-row>
      <ion-col size="5.5" style="padding: 0; margin-top: 8%">
        <img
          id="1"
          (click)="response(1)"
          class="quiz-img-row"
          style="border-radius: 20px"
          src="assets/images/quiz-elect2.png"
        />
      </ion-col>
      <ion-col size="5.5" style="padding: 0; margin-top: 8%; margin-left: 8%">
        <img
          id="2"
          (click)="response(2)"
          class="quiz-img-row"
          style="border-radius: 20px"
          src="assets/images/quiz-elect3.png"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5.5" style="padding: 0; margin-top: 5%">
        <img
          id="3"
          (click)="response(3)"
          class="quiz-img-row"
          style="border-radius: 20px"
          src="assets/images/quiz-elect4.png"
        />
      </ion-col>
    </ion-row>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      (click)="nextPage()"
      color="light"
      style="margin-bottom: 20%; margin-right: 20px"
    >
      <img class="heaven" src="/assets/icon/right-arrow_1.png" />
    </ion-fab-button>
  </ion-fab>
</ion-content>
