.simulation-view-row {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  .simulation-view-iframe {
    border-radius: 5px;
  }
}

h2 {
  text-align: center;

  font-weight: 500;
  color: black;

  font-family: "Helvetica-Roman";
}

h4 {
  text-align: center;

  font-weight: 500;
}
