<app-header [back]="true" headerText="Simulaciones"></app-header>

<ion-content>
  <ion-grid style="margin-top: 7%">
    <app-card-pre
      (click)="routeTopage(id)"
      [simulation_pre]="options[id-1]"
    ></app-card-pre>

    <ion-row style="margin-left: 2.5%">
      <h4>{{options[id-1].title}}</h4>
    </ion-row>
    <ion-row style="margin-left: 2.5%">
      <h6 style="margin: 0" *ngFor="let line of options[id-1].information">
        {{line}}
      </h6>
    </ion-row>
  </ion-grid>
</ion-content>
