<app-header [back]="true" headerText="Electrostática"></app-header>

<ion-content>
  <ion-grid style="margin-top: 7%">
    <ion-row style="margin-left: 2.5%">
      <h4>¿Qué es la electrostática?</h4>
    </ion-row>
    <ion-row style="margin-left: 2.5%">
      <h6 style="margin: 0">
        La electrostática es la rama de la Física que analiza los efectos mutuos
        que se producen entre los cuerpos como consecuencia de sus cargas
        eléctricas, es decir, el estudio de las cargas eléctricas en equilibrio.
        La carga eléctrica es la propiedad de la materia responsable de los
        fenómenos electrostáticos, cuyos efectos aparecen en forma de
        atracciones y repulsiones entre los cuerpos que la poseen.
      </h6>
      <br />
      <h6 style="margin: 0">
        El objeto de estudio de la electrostática es la electricidad estática,
        definida como el fenómeno producido entre dos cuerpos que han acumulado
        una carga eléctrica, ya sea por inducción o por fricción.
      </h6>
    </ion-row>

    <ion-row style="margin-left: 2.5%">
      <h4>Características y propiedades de la carga eléctrica</h4>
    </ion-row>
    <ion-row style="margin-left: 2.5%">
      <h6 style="margin: 0">
        La carga eléctrica es una propiedad intrínseca de la materia,
        responsable de producir las interacciones electrostáticas. El átomo, la
        unidad más pequeña de la materia, se encuentra constituido por tres
        tipos de partículas: los protones, de carga positiva; los electrones, de
        carga negativa y los neutrones, de carga neutra. Un cuerpo puede
        cargarse de forma positiva debido a una carencia de electrones, o
        negativa, por un exceso de electrones.
      </h6>
    </ion-row>
    <br />
    <ion-row style="margin-left: 2.5%">
      <h5 style="margin: 0">Propiedades</h5>
    </ion-row>
    <br />
    <ion-row style="margin-left: 2.5%">
      <h6 style="margin: 0">
        • La carga eléctrica es una magnitud física cuya unidad en el S.I. es el
        culombio (C), en honor al científico francés Charles Coulomb
        (1736-1806).
      </h6>
      <br />
      <h6 style="margin: 0">
        • Las cargas del mismo signo se repelen y las cargas de signo contrario
        se atraen.
      </h6>
      <br />
      <h6 style="margin: 0">
        • La carga se conserva: en la electrización no se crea carga, solamente
        se transmite de unos cuerpos a otros, de forma que la carga total
        permanece constante (principio de conservación de la carga eléctrica).
      </h6>
      <br />
      <h6 style="margin: 0">
        • La carga está cuantizada o cuantificada: se presenta como un múltiplo
        entero (N) de la carga elemental (e) que es la carga más pequeña que
        puede presentarse libremente en la naturaleza. Esta carga es la del
        electrón, siendo su valor e = 1,6·10-19 C. Así, el valor de la carga
        eléctrica de cualquier cuerpo electrizado será Q = ±N·e.
      </h6>
      <br />
      <h6 style="margin: 0">
        • La electrización de un cuerpo consiste en que éste pierda o gane
        electrones quedando cargado positiva o negativamente, respectivamente.
      </h6>
      <br />
      <h6 style="margin: 0">
        • La carga es un invariante relativista, puesto que no depende de la
        velocidad con la que dicho cuerpo o partícula se mueva, no depende del
        sistema de referencia.
      </h6>
    </ion-row>
    <ion-row style="margin-left: 2.5%">
      <h4>Caracterización del campo eléctrico. Ley de Coulomb</h4>
    </ion-row>
    <ion-row style="margin-left: 2.5%">
      <h6 style="margin: 0">
        Si tenemos un cuerpo cargado en una posición fija y acercamos a éste
        otro cuerpo que también tenga carga, se encontrará sometido a una fuerza
        de atracción o de repulsión según sea el signo de su carga, esto es
        debido a que toda carga crea a su alrededor un campo eléctrico donde se
        manifiesta la acción de dicha carga. Llamamos campo eléctrico a la
        región del espacio que rodea toda carga eléctrica, cuyas propiedades han
        sido alteradas por aquella y es capaz de transmitir la interacción
        electrostática.
      </h6>
      <br />
      <h6 style="margin: 0">
        Para representar esquemáticamente los campos eléctricos se emplean las
        líneas de campo, también llamadas líneas de fuerza. Cada línea de fuerza
        indica la dirección y sentido de la fuerza a la que estaría sometida una
        carga positiva que se situara sobre ella; por lo tanto, salen de las
        cargas positivas y entran en las negativas. Las líneas de fuerza también
        indican la dirección y sentido del movimiento de una carga positiva que
        se dejara libre en ese punto. Para una carga aislada son radiales y su
        sentido es hacia el exterior de la carga si ésta es positiva y hacia el
        interior si es negativa. Para describir la acción del campo magnético
        utilizamos el vector intensidad del campo magnético.
      </h6>
      <br />
      <h6 style="margin: 0; margin-bottom: 2%">
        Definimos el vector intensidad de campo eléctrico en un punto de un
        campo eléctrico como la fuerza eléctrica por unidad de carga positiva en
        dicho punto, es decir, a la fuerza que se ejercería sobre una carga de
        prueba [Por carga de prueba se refiere a un modelo de cuerpo puntual
        cuya carga es tan pequeña que no influye o afecta el campo eléctrico
        objeto de estudio. Comúnmente se denota como q_0 y por convenio es
        considerada positiva] colocada en dicho punto.
      </h6>
    </ion-row>

    <ion-row style="padding: 5%">
      <img class="zoom" src="assets/images/elect1.png" />
    </ion-row>
    <ion-row style="margin-left: 2.5%">
      <h4>Importante</h4>
    </ion-row>
    <ion-row style="margin-left: 2.5%">
      <h6 style="margin: 0">
        El sentido del vector intensidad de campo eléctrico en cualquier punto
        de las líneas del campo coincide con el sentido de la fuerza que
        experimenta una carga positiva colocada en el punto.
      </h6>
      <br />
      <h6 style="margin: 0">
        El vector intensidad del campo eléctrico cumple con el principio de
        superposición y la resultante se calcula por el método de las
        componentes rectangulares.
      </h6>
    </ion-row>
    <ion-row style="margin-left: 2.5%">
      <h4>Ley de Coulomb</h4>
    </ion-row>
    <ion-row style="margin-left: 2.5%">
      <h6 style="margin: 0; margin-bottom: 2%">
        Sabemos que las cargas eléctricas se atraen o se repelen, pero… ¿cuál es
        el valor de esta fuerza?, ¿en qué dirección y sentido actúa? Fue Charles
        Auguste Coulomb quien, en el siglo XVIII, de modo experimental, llegó a
        conocer el modo de actuar de esta fuerza y su expresión matemática,
        concluyendo que esta fuerza es proporcional al producto de las cargas e
        inversamente proporcional al cuadrado de la distancia que las separa y
        que actúa en la dirección de la recta que las une, siendo de atracción
        si las cargas son de signo contrario y de repulsión si son del mismo
        signo.
      </h6>
    </ion-row>
    <ion-row style="padding: 5%">
      <img class="zoom" src="assets/images/elect2.png" />
    </ion-row>
    <ion-row style="padding: 5%">
      <img class="zoom" src="assets/images/elect3.png" />
    </ion-row>
    <ion-row style="margin-left: 2.5%">
      <h6 style="margin: 0; margin-bottom: 2%">
        considerando que las unidades para la carga será el Coulomb [C] y la
        distancia en metros [m]
      </h6>
    </ion-row>
    <ion-row style="padding: 5%">
      <img src="assets/images/elect4.png" />
    </ion-row>
    <ion-row style="margin-left: 2.5%">
      <h6 style="margin: 0">
        Se ha comprobado que esta ley es válida para distancias entre 107 m.
        hasta la separación entre partículas subatómicas, de 10-17 m y cuando
        los cuerpos eléctricamente cargados pueden considerarse cargas puntuales
        en reposo.
      </h6>
      <br />
      <h6 style="margin: 0">
        En un sistema de partículas cargadas una de ellas ejerce su propia
        acción sobre otra partícula cargada, independientemente de la presencia
        de las restantes. La fuerza electrostática resultante sobre una de
        éstas, es igual a la suma vectorial de las fuerzas que el resto ejerce
        sobre ella.
      </h6>
    </ion-row>
    <ion-row style="margin-left: 2.5%">
      <h4>Potencial eléctrico o electrostático. Caracterización</h4>
    </ion-row>
    <ion-row style="margin-left: 2.5%">
      <h5>Si introducimos una carga</h5>
    </ion-row>
    <ion-row style="padding: 5%">
      <img class="zoom" src="assets/images/elect5.png" />
    </ion-row>
    <ion-row style="margin-left: 2.5%">
      <h6 style="margin: 0; margin-bottom: 2%">
        en un campo eléctrico, la carga sufrirá la acción de una fuerza
        eléctrica y como consecuencia de esto, adquirirá cierta energía
        potencial eléctrica (también conocida como energía potencial
        electrostática). Si lo vemos desde una perspectiva más simple, podemos
        pensar que el campo eléctrico crea un área de influencia donde cada uno
        de sus puntos tienen la propiedad de poder conferir una energía
        potencial a cualquier carga que se sitúe en su interior.
      </h6>
      <br />
      <h6 style="margin: 0; margin-bottom: 2%">
        A partir de este razonamiento, se establece una nueva magnitud escalar
        denominada potencial eléctrico (electrostático) y que representa la
        energía potencial electrostática que adquiere una unidad de carga
        positiva si la situamos en dicho punto.
      </h6>
    </ion-row>
    <ion-row style="padding: 5%">
      <img class="zoom" src="assets/images/elect6.png" />
    </ion-row>
    <ion-row style="margin-left: 2.5%">
      <h6 style="margin: 0">
        Dado que la fuerza electrostática (eléctrica) es de carácter
        conservativo, el trabajo en el campo eléctrico (electrostático) se
        determina:
      </h6>
    </ion-row>
    <ion-row style="padding: 5%">
      <img class="zoom" src="assets/images/elect7.png" />
    </ion-row>
    <ion-row style="margin-left: 2.5%">
      <h6 style="margin: 0">
        Si el campo electrostático realiza un trabajo positivo, la energía
        potencial electrostática del sistema, disminuye
      </h6>
    </ion-row>
    <ion-row style="padding: 5%">
      <img class="zoom" src="assets/images/elect8.png" />
    </ion-row>
    <ion-row style="margin-left: 2.5%">
      <h6 style="margin: 0">
        Si el trabajo realizado por el campo electrostático es negativo, la
        energía potencial electrostática del sistema, aumenta
      </h6>
    </ion-row>
    <ion-row style="padding: 5%">
      <img class="zoom" src="assets/images/elect9.png" />
    </ion-row>
    <ion-row style="margin-left: 2.5%">
      <h6 style="margin: 0">
        Dado el análisis presentado anteriormente, para futuros análisis, nos
        centraremos la variación de los valores de la energía potencial
        electrostática y, por tanto, del potencial.
      </h6>
      <br />
      <h6 style="margin: 0">
        En un campo electrostático existen puntos de igual potencial. El lugar
        geométrico donde se ubican estos puntos se denomina superficie
        equipotencial. Para la descripción del campo electrostático suelen
        utilizarse una familia de superficies equipotenciales, cada una de las
        superficies que forman la familia, corresponde a un valor diferente de
        potencial.
      </h6>
      <br />
      <h6 style="margin: 0">
        Para un campo electrostático uniforme donde las líneas de fuerzas son
        paralelas, las superficies equipotenciales son planos paralelos entre
        sí. Para un cuerpo puntual cargado, la distribución de las líneas de
        fuerza es radial y las superficies equipotenciales son esferas
        concéntricas con el cuerpo puntual.
      </h6>
    </ion-row>
    <ion-row style="margin-left: 2.5%">
      <h4>
        Concepto de capacidad. Condensadores, como funcionan y para que se
        utilizan.
      </h4>
    </ion-row>
    <ion-row style="margin-left: 2.5%">
      <h6 style="margin: 0">
        Conocemos que los cuerpos pueden cargarse eléctricamente, pero, ¿dónde
        está el límite? Cuando un cuerpo conductor se carga eléctricamente
        adquiere un determinado potencial y si se pone en contacto con otro,
        pasan portadores de carga (electrones) del de menor potencial al de
        mayor, hasta que ambos adquieren el mismo potencial y en ese instante
        cesa el intercambio de carga.
      </h6>
      <br />
      <h6 style="margin: 0">
        Se puede definir la capacidad como la relación que existe entre la carga
        que almacena y el potencial que adquiere un cuerpo.
      </h6>
    </ion-row>
    <ion-row style="padding: 5%">
      <img class="zoom" src="assets/images/elect10.png" />
    </ion-row>
    <ion-row style="margin-left: 2.5%; padding-bottom: 5%">
      <h6 style="margin: 0">
        Dado el análisis presentado anteriormente, para futuros análisis, nos
        centraremos la variación de los valores de la energía potencial
        electrostática y, por tanto, del potencial.
      </h6>
      <br />
      <h6 style="margin: 0">
        • C es la capacidad eléctrica. En el S.I. se mide en faradios (F).
      </h6>
      <br />
      <h6 style="margin: 0">
        • q es el exceso de carga del conductor. En el S.I. se mide en culombios
        (C).
      </h6>
      <br />
      <h6 style="margin: 0">
        • V es el potencial eléctrico en cualquier punto del conductor. En el
        S.I. se mide en voltios (V).
      </h6>
      <br />
      <h6 style="margin: 0">
        Los dispositivos que se utilizan para almacenar carga son conocidos como
        capacitores o condensadores y su función básica consiste en almacenar
        energía sustentando un campo eléctrico.
      </h6>
    </ion-row>
  </ion-grid>
</ion-content>
