<app-header [back]="true" headerText="Simulación"></app-header>

<ion-content [fullscreen]="true">
  <ion-fab
    *ngIf="this.id === 5"
    vertical="bottom"
    horizontal="start"
    slot="fixed"
  >
    <ion-fab-button
      [disabled]="disabled_quiz"
      (click)="openQuiz()"
      color="light"
      style="margin-bottom: 30px"
    >
      <img class="heaven" src="/assets/icon/quiz.png" />
    </ion-fab-button>
  </ion-fab>
  <ion-fab *ngIf="this.id !== 5" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button
      [disabled]="disabled_quiz"
      (click)="openQuiz()"
      color="light"
    >
      <img class="heaven" src="/assets/icon/quiz.png" />
    </ion-fab-button>
  </ion-fab>
  <iframe
    class="simulation-detail-iframe"
    allowfullscreen
    [src]="simulationURL()"
  >
  </iframe>
</ion-content>
