:host ::ng-deep .login_buttons {
  width: 80%;
  margin-left: 10%;

  position: absolute;
  bottom: 5%;

  .one_button {
    width: 100%;
    //padding-top: 15%;
    padding-top: 5%;

    .p-button {
      margin-top: 10%;
      span {
        padding-top: 5px;
        font: normal 15px "Helvetica-Md", sans-serif !important;
      }

      color: rgb(49, 49, 57);
      border: solid var(--ion-color-primary);
      background: var(--ion-color-primary);
      width: 100%;
    }

    .p-button:focus {
      box-shadow: none !important;
    }
  }
}
