.quiz-img {
  width: 50%;
  height: 50%;
  border-radius: 20px;
}

.quiz-img-row {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

ion-fab-button {
  width: 70px;
  height: 70px;
}

.heaven {
  height: 70%;
  width: 70%;
}

.jello-horizontal {
  // animation: jello-horizontal 2s infinite;
  animation: jello-horizontal 0.5s both;

  //transform-origin: center;

  // width: 120px;
  // height: 120px;

  box-shadow: rgba(99, 181, 246) 0px 0px 0px 5px;
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
